body {
    font-family: Arial;
    background-color: rgb(6, 163, 253);
  }


h1 { 
    font-family: 'Arial', Helvetica;
    font-size: 72px;
    text-shadow: 1px 1px 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(4, 8, 245);
    padding-top: 55.5px;
    padding-left: 5px;
    padding-bottom: 55.5px;
  }


  
